@import "~normalize.css";

@import "_variables";

@import "modules/week-summary.scss";

@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;400;700&display=swap");

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background-color: #8ebb9d;
  min-height: 100vh;
  font-family: "Raleway", sans-serif;
}

.main {
  max-width: 1000px;
  margin: 60px auto 0;
  padding: 16px;
  &__heading {
    color: #af3800;
  }
  &__header {
    grid-area: header;
  }
}

.header {
  background: #fff;
  min-height: 60px;
  position: fixed;
  top: 0;
  width: 100%;
  grid-area: header;
}

.navigation {
  padding: 16px;
  display: none;
  &__link {
    display: block;
    margin: 0 0 16px;
    color: #92140c;
  }
  &__link:hover {
    color: #16a085;
  }
  &__link:visited {
    color: #ccc;
  }
  &__link--homepage {
    color: #000;
  }
  &--open {
    display: block;
  }
}

.footer {
  max-width: 1000px;
  margin: 60px auto 16px;
  &__link {
    color: #8ab0ab;
  }
}

.article__paragraph {
  margin-bottom: 16px;
}

.section {
  margin: 64px;
  grid-area: section;
}

.about {
  grid-area: aside;
  &__heading {
    color: #2d8149;
    font-weight: 100;
  }
  &__link {
    color: #d1550d;
  }
  &__picture {
    display: block;
    max-width: 100%;
  }
}

.notes {
}

.notes__heading {
  color: #154724;
}

.list {
  list-style: square;
}

.klasa-z-js {
  background: yellow;
}

.hamburger {
  position: absolute;
  top: 20px;
  right: 16px;
  border: none;
  background: none;
}

@media (min-width: 768px) {
  .hamburger {
    display: none;
  }

  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 16px;
  }

  .navigation {
    padding: 16px;
    border-radius: 8px;
    display: flex;
    justify-content: space-around;
    min-height: 60px;
    align-items: center;
  }
}
